.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
example/.dart_tool/
example/build/
example/android/.gradle/
example/android/local.properties
example/ios/Pods/
example/ios/.symlinks/
*.iml
*.log
/work/
/outputs/
